## Analyzing the World Happiness Data

### Computing summary statistics

In this exercise, we will use pandas to compute some summary statistics of the WHR data.

We'll repeat here some of the code developed in a previous exercise so that we can continue to work with data in this exercise.  Execute the following code cells to load and reconfigure the data.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.float_format = '{:.2f}'.format

In [2]:
dfraw = pd.read_excel('WHR2018Chapter2OnlineData.xls', sheet_name='Table2.1')

In [3]:
cols_to_include = ['country', 'year', 'Life Ladder', 
                   'Positive affect','Negative affect',
                   'Log GDP per capita', 'Social support',
                   'Healthy life expectancy at birth', 
                   'Freedom to make life choices', 
                   'Generosity', 'Perceptions of corruption']

df = dfraw[cols_to_include]

### Step 1

In the code cell below, call the ```info``` method on the dataframe ```df``` to remind yourself what the dataframe consists of.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1562 entries, 0 to 1561
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           1562 non-null   object
 1   year                              1562 non-null   int64
 2   Life Ladder                       1562 non-null   float64
 3   Positive affect                   1544 non-null   float64
 4   Negative affect                   1550 non-null   float64
 5   Log GDP per capita                1535 non-null   float64
 6   Social support                    1549 non-null   float64
 7   Healthy life expectancy at birth  1553 non-null   float64
 8   Freedom to make life choices      1533 non-null   float64
 9   Generosity                        1482 non-null   float64
 10  Perceptions of corruption         1472 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 134.4+ KB

### Step 2

The ```describe``` method on a dataframe provides a useful statistical summary of the data.  In the code cell below, enter an expression to call this method and examine the output.

In [5]:
df.describe()

,year,Life Ladder,Positive affect,Negative affect,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
count,1562.00,1562.00,1544.00,1550.00,1535.00,1549.00,1553.00,1533.00,1482.00,1472.00
mean,2011.82,5.43,0.71,0.26,9.22,0.81,62.25,0.73,0.00,0.75
std,3.42,1.12,0.11,0.08,1.18,0.12,7.96,0.15,0.16,0.19
min,2005.00,2.66,0.36,0.08,6.38,0.29,37.77,0.26,-0.32,0.04
25%,2009.00,4.61,0.62,0.20,8.31,0.75,57.30,0.63,-0.11,0.70
50%,2012.00,5.33,0.72,0.25,9.40,0.83,63.80,0.75,-0.02,0.81
75%,2015.00,6.27,0.80,0.31,10.19,0.90,68.10,0.84,0.09,0.88
max,2017.00,8.02,0.94,0.70,11.77,0.99,76.54,0.99,0.68,0.98

Let's look at the output above and compare it with data presented in Table 4 of [Appendix 1 of the 2018 World Happiness Report](https://s3.amazonaws.com/happiness-report/2018/Appendix1ofChapter2.pdf).  Here is Table 4 reproduced from that report:

<img src='appendix4.png' width=650 height=650 align="left"/>

Imagine that you were asked to produce a table of this form from the underlying data.  Let's see what is required to get our summary data to resemble Table 4.

### Step 3.

The first thing you'll notice is that the orientation of the table is different from that produced by ```df.describe```, with data categories listed in rows and summary statistics in the columns.  One easy way to reorient the data produced by ```describe``` is to look at the <i>transpose</i> of the data, that is, what one gets when rows and columns are swapped.

The transpose of a dataframe can be accessed simply by accessing the attribute named ```.T``` on the dataframe.  Note that ```T``` is not a method that is called, so it is not followed by parentheses.  Instead, it is a static attribute of the dataframe that can be accessed through that name.

In the code cell below, write and evaluate an expression to return the transpose of the summary description provided by ```describe```.

In [6]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561
country,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
year,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Life Ladder,3.72,4.40,4.76,3.83,3.78,3.57,3.13,3.98,4.22,2.66,...,3.17,4.06,4.68,4.85,4.96,4.69,4.18,3.70,3.74,3.64
Positive affect,0.52,0.58,0.62,0.61,0.71,0.62,0.53,0.55,0.56,0.50,...,0.63,0.74,0.75,0.78,0.67,0.71,0.73,0.72,0.74,0.81
Negative affect,0.26,0.24,0.28,0.27,0.27,0.27,0.37,0.34,0.35,0.37,...,0.25,0.22,0.12,0.21,0.18,0.18,0.24,0.18,0.21,0.22
Log GDP per capita,7.17,7.33,7.39,7.42,7.52,7.50,7.48,7.47,7.46,7.46,...,7.10,7.20,7.30,7.42,7.53,7.57,7.56,7.56,7.54,7.54
Social support,0.45,0.55,0.54,0.52,0.52,0.48,0.53,0.53,0.56,0.49,...,0.84,0.81,0.86,0.86,0.90,0.80,0.77,0.74,0.77,0.75
Healthy life expectancy at birth,49.21,49.62,50.01,50.37,50.71,51.04,51.37,51.69,52.02,52.34,...,41.61,43.11,44.67,46.21,47.65,48.95,50.05,50.93,51.80,52.67
Freedom to make life choices,0.72,0.68,0.60,0.50,0.53,0.58,0.51,0.39,0.52,0.43,...,0.34,0.41,0.66,0.63,0.47,0.58,0.64,0.67,0.73,0.75
Generosity,0.18,0.20,0.14,0.18,0.25,0.07,0.12,0.09,0.06,-0.11,...,-0.06,-0.05,-0.06,-0.06,-0.07,-0.08,-0.05,-0.09,-0.07,-0.07
Perceptions of corruption,0.88,0.85,0.71,0.73,0.78,0.82,0.87,0.88,0.79,0.95,...,0.96,0.93,0.83,0.83,0.86,0.83,0.82,0.81,0.72,0.75

### Step 4.

This is looking a bit more like Table 4, although there is some extraneous information that we can remove using the ```drop``` method on a dataframe.  We can also rename the quantities produced by ```df.describe``` to make them appear as in Table 4.

Examine the documentation for ```df.drop``` and note that one can specify one or more labels to drop, as well as an axis along which to drop.  For our summary data, we'd like to drop the row labeled 'year' and the columns labeled by '25%', '50%', and '75%', since they are not included in Table 4.

In the code cell below, we define a dictionary for the column renaming, and a list defining the column order for the finished table.  In the empty code cell below that, write and evaluate code to do the following:

* From the transposed summary data, drop the row labeled 'year'.
* From the resulting dataframe, drop the columns labeled '25%', '50%', and '75%'.
* Using the `rename` method on the resulting dataframe, rename the columns according to the mapping defined in ```column_renaming```. 
* Select out the columns in the list defined by ```column_order``` and assign the resulting dataframe to the variable ```dfsummary```.

Note that you can either do each step above sequentially, storing the result in a variable, or you can string each call one right after the other in one line (by chaining a series of method calls).

Once you've assigned the result to ```dfsummary```, examine that new dataframe and compare it to Table 4.

In [7]:
column_renaming = {'count': 'N', 'mean': 'Mean', 'std': 'Std. Dev.', 'min': 'Min.', 'max': 'Max.'}
column_order = ['Mean', 'Std. Dev.', 'Min.', 'Max.', 'N']

In [8]:
dfsummary = df.drop(columns = ['year'])
dfsummary = dfsummary.describe().T.drop(columns = ['25%','50%', '75%']).rename(columns = column_renaming)
dfsummary = dfsummary[column_order]
dfsummary

                                  Mean  Std. Dev.  Min.  Max.       N
Life Ladder                       5.43       1.12  2.66  8.02 1562.00
Positive affect                   0.71       0.11  0.36  0.94 1544.00
Negative affect                   0.26       0.08  0.08  0.70 1550.00
Log GDP per capita                9.22       1.18  6.38 11.77 1535.00
Social support                    0.81       0.12  0.29  0.99 1549.00
Healthy life expectancy at birth 62.25       7.96 37.77 76.54 1553.00
Freedom to make life choices      0.73       0.15  0.26  0.99 1533.00
Generosity                        0.00       0.16 -0.32  0.68 1482.00
Perceptions of corruption         0.75       0.19  0.04  0.98 1472.00

### Step 5

You may notice that one lingering point of discrepancy between the summary dataframe you've produced and the WHR Table 4 is that the number of counts ```N``` in Table 4 is reported as an integer, whereas it is a floating point number in our summary dataframe.  We can alter the type of that column with the code in the following cell.  Execute the code cell below.

In [9]:
dfsummary['N'] = dfsummary['N'].astype(int)
dfsummary

                                  Mean  Std. Dev.  Min.  Max.     N
Life Ladder                       5.43       1.12  2.66  8.02  1562
Positive affect                   0.71       0.11  0.36  0.94  1544
Negative affect                   0.26       0.08  0.08  0.70  1550
Log GDP per capita                9.22       1.18  6.38 11.77  1535
Social support                    0.81       0.12  0.29  0.99  1549
Healthy life expectancy at birth 62.25       7.96 37.77 76.54  1553
Freedom to make life choices      0.73       0.15  0.26  0.99  1533
Generosity                        0.00       0.16 -0.32  0.68  1482
Perceptions of corruption         0.75       0.19  0.04  0.98  1472

### Step 6

Appendix 1 of the WHR presents several tables similar to Table 4, for different intervals of years, in order to examine how the summary statistics have changed over time.  In the code cells above, we executed several steps to produce a summary dataframe of the desired form.  Since we will want to produce different summary tables for different intervals of years, we can bundle up all the data processing steps above into a new <b>function</b> that we can call, by passing in different dataframes as input to the function.  If we wanted to get summary statistics for just a subset of years, we could create a new dataframe by filtering the full dataset just for those years, and then pass the new dataframe to our function.

In the code cell below, write a <b>function</b> named ```produce_summary_table``` that takes a dataframe as an argument (i.e `produce_summary_table(df)`) and returns a <b>summary dataframe</b>. 

* The input <b>dataframe</b> should be derived from the WHR2018Chapter2OnlineData.xls Table 2.1 data we've been working with.

* The returned <b>summary dataframe</b> should be in the same form as Table 4 above. 

* In writing this function, you should include all of the steps we took in Steps 4 and 5 above to achieve the final result; you will also want to pull in the code above that defines the variables ```column_renaming``` and ```column_order```.

## Graded Cell

This cell is worth 100% of the grade for this assignment.

In [10]:
def produce_summary_table(df):
    cols_to_include = ['country', 'year', 'Life Ladder', 
                   'Positive affect','Negative affect',
                   'Log GDP per capita', 'Social support',
                   'Healthy life expectancy at birth', 
                   'Freedom to make life choices', 
                   'Generosity', 'Perceptions of corruption']

    df = df[cols_to_include]

    column_renaming = {'count': 'N', 'mean': 'Mean', 'std': 'Std. Dev.', 'min': 'Min.', 'max': 'Max.'}
    column_order = ['Mean', 'Std. Dev.', 'Min.', 'Max.', 'N']
    dfsummary = df.drop(columns = ['year'])
    dfsummary = dfsummary.describe().T.drop(columns = ['25%','50%', '75%']).rename(columns = column_renaming)
    dfsummary = dfsummary[column_order]
    dfsummary['N'] = dfsummary['N'].astype(int)
    return dfsummary

## Self-Check

Run the cell below to test the correctness of your code above before submitting for grading.

In [11]:
# Run this self-test cell to check your code; do not add code or delete code in this cell
from jn import testFunction

try:
    print(testFunction(produce_summary_table))    
except Exception as e:
    print("Error!\n" + str(e))

Correct!

Test your new function with the dataframe ```df``` that we were working with above.  It should return the summary table that mirrors Table 4.

In [12]:
produce_summary_table(df)

                                  Mean  Std. Dev.  Min.  Max.     N
Life Ladder                       5.43       1.12  2.66  8.02  1562
Positive affect                   0.71       0.11  0.36  0.94  1544
Negative affect                   0.26       0.08  0.08  0.70  1550
Log GDP per capita                9.22       1.18  6.38 11.77  1535
Social support                    0.81       0.12  0.29  0.99  1549
Healthy life expectancy at birth 62.25       7.96 37.77 76.54  1553
Freedom to make life choices      0.73       0.15  0.26  0.99  1533
Generosity                        0.00       0.16 -0.32  0.68  1482
Perceptions of corruption         0.75       0.19  0.04  0.98  1472

Appendix 1 of the WHR presents similar summary tables for different groups of years:

* 2005-2007: Table 5
* 2008-2010: Table 6
* 2015-2017: Table 7

To reproduce each of these tables, you will want to create a new dataframe that filters out the subset of the data in the specified years, as was discussed above in Step 6.  There are various ways to do this extraction.  One way is to use the ```isin``` method on a dataframe or series, which can be used to select those entries which are contained within a specified set of values.  For example, the expression ```df[df.year.isin(range(1900,2000))]``` would return a new dataframe containing all rows of ```df``` that had a year between 1900 and 1999.

### Step 7

In the empty code cell below, do the following:<br>
Create three new dataframes for each of the year ranges associated with Tables 5, 6, and 7, by extracting the appropriate set of years. Using the function you wrote above, create a summary table for each dataframe (your function takes a dataframe as input). Assign the resulting summary tables to the names ```dfsummary0507```, ```dfsummary0810```, and ```dfsummary1517```. 
<br>
<br>
The remaining three code cells below are populated with the table names ```dfsummary0507```, ```dfsummary0810```, and ```dfsummary1517```. Once you have created these summary tables as outlined above, execute these cells to compare your tables with the corresponding tables in WHR Appendix 1.

In [13]:
dfsummary0507 = produce_summary_table(df.loc[(df['year'] >= 2005) & (df['year'] <= 2007)])
dfsummary0810 = produce_summary_table(df.loc[(df['year'] >= 2008) & (df['year'] <= 2010)])
dfsummary1517 = produce_summary_table(df.loc[(df['year'] >= 2015) & (df['year'] <= 2017)])

In [14]:
dfsummary0507

                                  Mean  Std. Dev.  Min.  Max.    N
Life Ladder                       5.46       1.12  3.20  8.02  218
Positive affect                   0.72       0.10  0.43  0.89  216
Negative affect                   0.25       0.07  0.09  0.47  216
Log GDP per capita                9.13       1.19  6.49 11.47  218
Social support                    0.83       0.11  0.44  0.98  216
Healthy life expectancy at birth 60.85       8.67 37.77 74.28  218
Freedom to make life choices      0.72       0.15  0.28  0.97  212
Generosity                        0.01       0.17 -0.32  0.49  184
Perceptions of corruption         0.77       0.18  0.06  0.98  206

In [15]:
dfsummary0810

                                  Mean  Std. Dev.  Min.  Max.    N
Life Ladder                       5.46       1.11  2.81  7.97  348
Positive affect                   0.71       0.11  0.36  0.90  341
Negative affect                   0.24       0.08  0.08  0.47  343
Log GDP per capita                9.16       1.20  6.38 11.74  346
Social support                    0.81       0.12  0.29  0.98  343
Healthy life expectancy at birth 61.65       8.17 39.35 74.83  346
Freedom to make life choices      0.70       0.15  0.26  0.97  341
Generosity                        0.00       0.16 -0.32  0.53  345
Perceptions of corruption         0.76       0.19  0.04  0.98  337

In [16]:
dfsummary1517

                                  Mean  Std. Dev.  Min.  Max.    N
Life Ladder                       5.43       1.12  2.66  7.79  426
Positive affect                   0.71       0.10  0.37  0.92  424
Negative affect                   0.29       0.09  0.10  0.64  424
Log GDP per capita                9.30       1.20  6.47 11.69  412
Social support                    0.81       0.12  0.29  0.99  424
Healthy life expectancy at birth 63.17       7.67 43.59 76.54  424
Freedom to make life choices      0.76       0.13  0.30  0.99  420
Generosity                        0.00       0.16 -0.30  0.67  409
Perceptions of corruption         0.74       0.19  0.05  0.97  393